{% extends 'base.html.twig' %}

{% set page_title %}Search charters{% endset %}

{% block body_class %}layout--fullscreen{% endblock %}

{% block main %}
    <div id="app" class="w-100 h-100">
        <charter-search-app
                init-urls="{{ urls }}"
                title="{{ page_title }}"></charter-search-app>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ vite_entry_script_tags('charter-search') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('charter-search') }}
{% endblock %}