{% extends 'base.html.twig' %}

{% block title %}Diplomata Belgica - Welcome{% endblock %}

{% block header %} 
<div class="pageheader">
    <div class="row"> 

        <!-- IMG -->
        <div class="d-none d-md-block col-sm-2 dibe-logo">
            <img class="img-fluid" src="{{ asset('build/static/images/miniatuur.png') }}" alt="" height="120px"> 
        </div>
        <div class="col-12 col-md-10">

            <!-- NAVBAR -->
            <nav class="navbar navbar-expand-lg navbar-light bg-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('default') }}">
                        <h1 
                        class="logo margin-none"><b>Diplomata</b>Belgica 
                        {% if app.environment != 'prod' %}
                            <span class="text-danger">
                                    [{{ app.environment }}]
                                </span>
                        {% endif %}
                        </h1>  
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item ">
                            <a class="nav-link {{ app.request.get('_route') == 'charter_search' ? 'active' }}" href="{{ path('charter_search') }}">
                                Search
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'about' ? 'active' }}" href="{{ path('about') }}">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'copyright' ? 'active' }}" href="{{ path('copyright') }}">
                                Copyright
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'contact' ? 'active' }}" href="{{ path('contact') }}">
                                Contact
                            </a>
                        </li>
                    </ul>

                </div>
                </div>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row ptop-default">
    <div class="col-12">
        <div class="colophon">
            <div class="row justify-content-center">
                <div class="col-8 border-bottom">
                    <h2 class="ptop-default">Colophon</h2>

                    <h4>Editors</h4>
                    <p class="rosarivo">
                        Th&eacute;r&egrave;se de Hemptinne, Jeroen Deploige, Jean-Louis Kupper, Walter Prevenier
                    </p>
                    <h4>Contributors</h4>
                    <p class="rosarivo">
                        Philippe Demonty
                    </p>
                    <h4>advisory board</h4>
                    <p class="rosarivo">
                        Thomas Aigner, Jean-Marie Cauchies, Els De Paermentier, Eef Dijkhof, Jean-Marie Duvosquel, Adam J. Kosto, Ludo Milis, Sarah Rees Jones, Beno&icirc;t-Michel Tock, Paul Tombeur, Raoul Van Caenegem (†), Jozef Van Loon, Karel Velle, Jean-Marie Yante
                    </p>
                    <h4>Database and Processing Software</h4>
                    <p class="rosarivo">
                        Christophe Billiet, Guy De Tr&eacute; (<a href="http://ddcm.ugent.be/" target=_blank>DDCM, Ghent University</a>)
                    </p>
                    <h4>Geographical Applications</h4>
                    <p class="rosarivo">
                        Xavier Baecke, Philippe Demonty, Bart De Wit
                    </p>
                    <h4>Web Design</h4>
                    <p class="rosarivo">
                        Janpieter Chielens (<a href="http://www.piecemontee.be/" target=_blank>Tijdsbeeld-Pi&egrave;ce mont&eacute;e nv, Gent</a>), Benjamin Venken
                    </p>
                    <h4>Former Collaborators</h4>
                    <p class="rosarivo">
                        Georges Declercq, Marie-Paul Laviolette, Katrien Naessens, Guy Triffin
                    </p>
                    <h4>Funding</h4>
                    <p class="rosarivo">
                        Belgian Science Policy Office (<a href="http://www.belspo.be/belspo/index_en.stm" target="_blank">Belspo</a>),
                        Hercules Foundation and Research Foundation - Flanders (<a href="https://www.fwo.be/" target="_blank">FWO</a>),
                        Henri Pirenne Institute for Medieval Studies at Ghent University (<a href="http://www.ugent.be/pirenne/en" target="_blank">HPIMS</a>) <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
