{# Remove comments to add a view app to the template #}
{% extends 'base.html.twig' %}

{% block content %}
    <div id="text-view-app">
{#        <charter-view-app#}
{#            init-urls="{{ urls }}"#}
{#            init-data="{{ data }}"#}
{#        />#}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('charter-view') }}#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#    {{ encore_entry_link_tags('charter-view') }}#}
{% endblock %}